.course-card-img {
  height: 17rem;
  width: 20rem;
}

.course-card {
  width: 25%;
}

.card-body {
  background: #ecf0f1;
}

.card-bg:hover {
  background: #ffb61e;
}

.add-btn {
  background: #ffb61e;
  border: none;
}

.delete-btn {
  background: black;
  border: none;
}